@model Models.Base.BasePagingResponse<List<Models.Entities.GroupEntity>>

<tbody class="table-border-bottom-0">
@foreach (var group in Model.Data)
{
    <tr>
        <td>
            <i class="fab fa-angular fa-lg text-danger"></i> <strong>@group.GroupName</strong>
        </td>
        <td class="text-center">1</td>
        <td>
            @if (group.IsDeleted is false)
            {
                <span class="badge bg-label-success me-1">Đang hoạt động</span>
            }
            else
            {
                <span class="badge bg-label-warning me-1">Đã xóa</span>
            }
        </td>
        <td>
            <span class="badge bg-label-primary me-1">@group.CreatedUser.Split("@").FirstOrDefault()</span>
        </td>
        <td>
            <button type="button" class="btn text-primary">
                <i class="bx bx-edit"></i>
            </button>
            <button type="button" class="btn text-danger">
                <i class="bx bx-trash"></i>
            </button>
        </td>
    </tr>
}
</tbody>